/*
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans', sans-serif;
*/
* {
	box-sizing : border-box;
}

a {
	text-decoration: none;
}

.clear {
	clear : both;
}

.flex {
	display : flex;
	flex-wrap : wrap;
	flex-direction : row;
	justify-content : space-between;
}

.container {
	width : 1100px;
	margin : 0 auto;
	/*background-image :linear-gradient(75deg, BurlyWood, rgba(255,248,220,1));*/
	color : DarkBlue;
}


body {
	text-align : center;
	font-family: 'Kavivanar', cursive;
	margin : 0;
}

a.active  {
	background-color : DeepSkyBlue;
/*#00bfff;*/
	color : white;
	border  : none;
}

ul {
	list-style-type: none;
    padding: 0;
}

ul li  {
	width	 : 30%;	
}

h1 {
	color : DeepSkyBlue;
	text-align: center;
	margin : 5px auto 10px;

}

h2 {
	background-color: BurlyWood;
	color : DarkBlue;
}

h2 {
	text-align: center;
	margin : 10px;

}
h3 {
	text-transform: uppercase;
	font-family: 'Indie Flower', cursive;
}

/**************
     HEADER
***************
*/

header {
	padding : 5px;
	margin : 0 auto;
	text-align : center;
}

nav a {

	text-decoration: none;
	padding : 10px;
	border : 0px solid DarkBlue;
	background-color: rgba(256,256,256,0.3);
	color : DeepSkyBlue;
	font-weight : bold;
	width : 22%;
}

nav {

	background-color : rgba(0,191,255,0.2);
	background-image: linear-gradient( rgba(0,191,255,0.2), rgba(250,200,125,0.5));
	padding : 30px 150px;
}

section.user a {

	padding : 15px;
	display : inline-block;
	margin : 0 auto;
	background-color : rgba(0,191,255,0.2);
}

section.user p {

	padding : 2px;
	margin : 5px auto;
	width : 100%;

}

/******************************
   FORMULAIRE 
*******************************
*/

form {
	margin-top : 15px;
		padding : 50px;
}

form.flex {
	display : flex;
	flex-wrap : wrap;
	flex-direction : rows;
	justify-content : space-between;
}

 form label {
	margin-bottom: 15px;
	width : 45%;
	text-align : left;
	padding-left : 20px;
}
/*
form input, form button {
	margin-bottom: 15px;
	background-image: linear-gradient(rgba(0,191,255,0.2), rgba(250,200,125,0.5));
	font-family: 'Kavivanar', cursive;
	border : none;
	padding : 10px;
}*/

form input {
	width : 40%;
}

button.rech {

	border-radius : 50%;
	height : 50px;
	width : 50px;
	border : 5px double BurlyWood;
}


/******************
     CATALOGUE
******************
*/
#catalogue  li img {
	height : 180px;
	width : 180px;
	border : 8px double BurlyWood;
	border-radius : 50%;
	padding : 5px;
	
} 

section.catalogue article {
	margin-bottom: 20px;
}

section.catalogue a {

	margin: 10px 0;
	background-image: linear-gradient(rgba(0,191,255,0.2), rgba(250,200,125,0.5));
	font-family: 'Kavivanar', cursive;

}


/******************
     PANIER
******************
*/


table#panier {

	border-collapse : collapse;
	border : 1px solid DeepSkyBlue;
	width : 80%;
	margin : 0 auto;
}

table#panier  td, table#panier  th {

	border : 1px solid DeepSkyBlue;
	color : #999;
}

table#panier th {

	background-color: DeepSkyBlue;
	color : white;
	padding : 5px 5px;
}


table#panier a {
	padding : 5px;
}

table#panier td.alignRight {
	text-align : right;
	padding : 5px;
}

table#panier tr td::second-child {
	font-weight : bold;
}

table#panier td {
	text-align : left;
	padding : 5px 5px;
}

table#panier tfoot td {
	text-align : right;
	padding : 5px 5px;
	font-height : bold;
}


table#panier img {
	width: 60%;
	diqplay : inline-block;
	margin :  0 auto;
}

/****************
    RECHERCHE
*****************
*/
#retourRecherche span {

	font-weight: bold;
}

/******************
    FICHE PRODUIT
*******************
*/

section#produit {
	text-align : left;
	margin : 100px auto;
	width : 80%;
}

section#produit article{
	float: right;
}


section#produit img {
	width : 40%;
	float : left;
	border : 2px solid BurlyWood;
}

section#produit span {

	font-weight: bold;
}

section#produit h2 {

	font-family: 'Open Sans', sans-serif;
	background-color: white;
	text-align: left;
	padding : 0;
	margin : 0;
}

section#produit .flex {
	display : flex;
	flex-wrap : wrap;
	flex-direction : column;
	justify-content : space-between;
	width : 45%;
}

section#produit a {

	border : 2px solid #999 ;
	padding : 2px;
	width : 200px;
}

.width40 {

	width : 40%;
	margin : 0 auto;

}


/****************
    LOGIN
*****************
*/
form>button#login {

	margin-bottom: 15px;
	background-image: linear-gradient(rgba(0,191,255,0.2), rgba(250,200,125,0.5));
	font-family: 'Kavivanar', cursive;
	border : none;
	padding : 10px;
}

form.login {
	width : 60%;
	margin : 0 auto;
}

form.login input {
	width : 100%;
}

/************
    FOOTER     *
************/

footer {
	
	background-image : url(../img/bcgplaya.png);
	background-repeat : repeat;
	background-color : white;
	height: 200px;
	size : 100%;
	margin : 30px auto 0;
	
}

